{% include "base/navbar.html" %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre Nosotros - BeyondGames</title>
</head>

<body style="font-family: 'Arial', sans-serif; line-height: 1.6; margin: 20px;">
    <br>
    <h1 style="color: #333;">Sobre Nosotros</h1>

    <br>

    <h3 style="color: #333; border-bottom: 2px solid #333; padding-bottom: 5px;">¡Hola, visitantes de BeyondGames!</h3>

    <p>Somos Bárbara y Manuel, los mentes creativas detrás de este proyecto apasionante que está tomando forma. Originarios de Chile, nos encontramos en la emocionante etapa final de nuestro curso de Python enfocado en el desarrollo de páginas web. Nos encantaría compartir un poco más sobre nosotros y la inspiración detrás de este proyecto.</p>

    <h4 style="color: #333; margin-top: 20px;">¿Quiénes somos?</h4>

    <b style="color: #555;">Bárbara:</b>
    <p style="color: #666;">¡Hola a todos! Soy Bárbara, una entusiasta del desarrollo web y los desafíos creativos. Disfruto mucho de los videojuegos, por lo que sentí mucho interés de unirme al proyecto BeyondGames. Mi objetivo es proporcionar un espacio donde la tecnología y la diversión se encuentren de manera armoniosa.</p>

    <b style="color: #555;">Manuel:</b>
    <p style="color: #666;">Saludos, soy Manuel, creador y amante de la programación. Originario de Chile, mi pasión por los videojuegos se remonta a mi infancia. BeyondGames es la culminación de años de entusiasmo por los videojuegos, y estoy emocionado de compartir esta experiencia con todos ustedes.</p>
    <br>
    <h4 style="color: #333;">Nuestra Inspiración</h4>

    <p style="color: #666;">El mundo de los videojuegos ha sido una fuente constante de inspiración para nosotros. Desde los clásicos hasta las últimas tendencias, hemos encontrado un lugar donde la creatividad y la tecnología convergen de manera única. BeyondGames nació de la idea de compartir esta pasión con la comunidad, brindando un espacio de expresión para todos los aficionados a los videojuegos.</p>
    <br>
    <h4 style="color: #333;">Únete a Nosotros</h4>

    <p style="color: #666;">Estamos emocionados de tenerlos a bordo en este viaje. Únanse a BeyondGames mientras exploramos juntos el mundo de los videojuegos. Siéntanse libres de explorar nuestro contenido y no duden en ponerse en contacto con nosotros. ¡Gracias por ser parte de nuestra comunidad!</p>

    <p style="color: #666;">¡Que comience la aventura!</p>

    <p style="color: #333;">Bárbara y Manuel</p>

</body>

{% include "base/footer.html" %}  